/target/
/.idea/workspace.xml
/target/classes/Demonstrations/ReplicationFailover.class
/target/classes/Northwind/QAddress.class
/target/classes/Northwind/QCategory.class
/target/classes/Northwind/QCompany.class
/target/classes/Northwind/QContact.class
/target/classes/Northwind/QEmployee.class
/target/classes/Northwind/QOrder.class
/target/classes/Northwind/QOrderLine.class
/target/classes/Northwind/QProduct.class
/target/classes/Northwind/QRegion.class
/target/classes/Northwind/QShipper.class
/target/classes/Northwind/QSupplier.class
/target/classes/Northwind/QTerritory.class
/target/classes/TransactionalBank/Account.class
/target/classes/TransactionalBank/Operation.class
/target/classes/TransactionalBank/QAccount.class
/target/classes/TransactionalBank/QOperation.class
/target/generated-sources/java/Northwind/QAddress.java
/target/generated-sources/java/Northwind/QCategory.java
/target/generated-sources/java/Northwind/QCompany.java
/target/generated-sources/java/Northwind/QContact.java
/target/generated-sources/java/Northwind/QEmployee.java
/target/generated-sources/java/Northwind/QOrder.java
/target/generated-sources/java/Northwind/QOrderLine.java
/target/generated-sources/java/Northwind/QProduct.java
/target/generated-sources/java/Northwind/QRegion.java
/target/generated-sources/java/Northwind/QShipper.java
/target/generated-sources/java/Northwind/QSupplier.java
/target/generated-sources/java/Northwind/QTerritory.java
/target/generated-sources/java/TransactionalBank/QAccount.java
/target/generated-sources/java/TransactionalBank/QOperation.java
/out/artifacts/JavaClientDemos_jar/JavaClientDemos.jar
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_guava_guava_13_0_1.xml
/.idea/libraries/Maven__com_mysema_codegen_codegen_0_5_9.xml
/.idea/libraries/Maven__com_mysema_commons_mysema_commons_lang_0_2_4.xml
/.idea/libraries/Maven__com_mysema_querydsl_querydsl_apt_3_1_1.xml
/.idea/libraries/Maven__com_mysema_querydsl_querydsl_codegen_3_1_1.xml
/.idea/libraries/Maven__com_mysema_querydsl_querydsl_core_3_1_1.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_7.xml
/.idea/libraries/Maven__commons_io_commons_io_1_3_2.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__de_undercouch_bson4jackson_1_3_0.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__net_ravendb_ravendb_client_3_1_0.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_12.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_12.xml
/.idea/libraries/Maven__org_eclipse_jdt_core_compiler_ecj_3_7_2.xml
