/target/
/.idea/workspace.xml
/target/classes/Demonstrations/ReplicationFailover.class
/target/classes/Northwind/QAddress.class
/target/classes/Northwind/QCategory.class
/target/classes/Northwind/QCompany.class
/target/classes/Northwind/QContact.class
/target/classes/Northwind/QEmployee.class
/target/classes/Northwind/QOrder.class
/target/classes/Northwind/QOrderLine.class
/target/classes/Northwind/QProduct.class
/target/classes/Northwind/QRegion.class
/target/classes/Northwind/QShipper.class
/target/classes/Northwind/QSupplier.class
/target/classes/Northwind/QTerritory.class
/target/classes/TransactionalBank/Account.class
/target/classes/TransactionalBank/Operation.class
/target/classes/TransactionalBank/QAccount.class
/target/classes/TransactionalBank/QOperation.class
/target/generated-sources/java/Northwind/QAddress.java
/target/generated-sources/java/Northwind/QCategory.java
/target/generated-sources/java/Northwind/QCompany.java
/target/generated-sources/java/Northwind/QContact.java
/target/generated-sources/java/Northwind/QEmployee.java
/target/generated-sources/java/Northwind/QOrder.java
/target/generated-sources/java/Northwind/QOrderLine.java
/target/generated-sources/java/Northwind/QProduct.java
/target/generated-sources/java/Northwind/QRegion.java
/target/generated-sources/java/Northwind/QShipper.java
/target/generated-sources/java/Northwind/QSupplier.java
/target/generated-sources/java/Northwind/QTerritory.java
/target/generated-sources/java/TransactionalBank/QAccount.java
/target/generated-sources/java/TransactionalBank/QOperation.java
